.main-navigation {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3.5rem;
	background: #01d1d1;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-navigation__logo {
	/* font-size: 1.5rem; */
	margin: 0;
}

.main-navigation__items {
	margin: 1.5rem;
}

.main-navigation__items ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.main-navigation__items li {
	margin: 0 1rem;
}

.main-navigation__items a,
.main-navigation__items button {
	transition: all ease 0.2s;
	text-decoration: none;
	color: white;
	padding: 0.5rem 2rem;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active,
.main-navigation__items button:hover,
.main-navigation__items button:active,
.main-navigation__items button.active {
	/* color: #fdefa0; */
	color: #01d1d1;
	background: white;
}